{{#partial "content"}}

<div class="row" style="margin-bottom:2%;">
    <div class="col-md-3">
        <div class="card">
            <img src="./images/land.jpeg" width="300" height="200" class="img-fluid" id="image0">
            <p  style="text-align:center;"></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="./images/land1.jpeg" width="250" height="200" class="img-fluid" id="image1">
            <p  style="text-align:center;"></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="images/dress20.jpeg" width="300" height="200" class="img-fluid" id="image2">
            <p  style="text-align:center;"></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="images/dress9.jpeg" width="300" height="200" class="img-fluid" id="image3">
            <p  style="text-align:center;"></p>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:2%;">
    <div class="col-md-3">
        <div class="card">
            <img src="images/dress3.jpeg" width="300" height="200" class="img-fluid" id="image4">
            <p  style="text-align:center;"></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="images/dress4.jpeg" width="300" height="200" class="img-fluid" id="image5">
            <p  style="text-align:center;"></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="images/dress5.jpeg" width="300" height="200" class="img-fluid" id="image6">
            <p  style="text-align:center;"></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="images/dress6.jpeg" width="200" height="200" class="img-fluid" id="image7">
            <p  style="text-align:center;"></p>
        </div>
    </div>
</div>
{{/partial}}